<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">LOGIN</span>

          <div class="row">
            <div class="input-field col s12">
              <input
                id="username-input-login"
                type="username"
                class="validate"
              />
              <label for="username">Username</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input
                id="password-input-login"
                type="password"
                class="validate"
              />
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email-input-login" type="email" class="validate" />
              <label for="email">Email</label>
            </div>
          </div>
          <button
            class="btn waves-effect waves-light"
            type="submit"
            name="action"
          >Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<br />
<a href="/signup">New here? Sign up!</a>
<script src="/js/signup.js"></script>